*{
	margin: 0;
	padding: 0;
}
.Feedback-container{
	width: 80%;
	height: 500px;
	background-color: #2F4F4F;
	margin: 50px auto;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}
#form{
	width: 80%;
	height: auto;
	margin: auto;
}
#comments-label, #email-label{
	font-size: 22px;
	font-family: 'Lucida Console', monospace;
}
#email{
	width: 100%;
	height: 50px;
	border-radius: 10px;
}
#comment{
	width: 100%;
	height: 150px;
	border-radius: 10px;
	resize: none;
}
#submit{
	padding: 15px 15px;
	font-family: 'Lucida Console', monospace;
	font-size: 18px;
	border-radius: 10px;
}