*{
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
	}
	body{
		background-color: #FFFAF0;
	}
	#header{
		width: 100%;
		height: 80px;
		background-color: #2F4F4F;
	}
	#header-img{
		float: left;
		width: 60px;
		height: 50px;
		margin: 20px 20px;
		font-family: 'Lucida Handwriting', cursive;
		font-size: 40px;
		color: #FFFFFF;
	}
	#nav-bar{
		float: right;
	}
	#nav-bar ul{
		display: inline-flex;
	}
	#nav-bar li{
		list-style-type: none;
		padding: 50px 30px;
	}
	#nav-bar #nav-link{
		font-family: 'Lucida Console', monospace;
		font-size: 20px;
		text-decoration: none;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	#nav-bar #nav-link:hover{
		color: darkorange;
	}
	/*Responsive*/
	@media only screen and (max-width: 1024px) {
		#header{
			height: 105px;
	}
		#nav-bar ul{
			margin: 60px auto;
			display: inline-flex;
	}
		#nav-bar li{
			padding: 15px 15px;
	}
		#nav-bar #nav-link{
			font-size: 18px;
	}	
	}

	@media only screen and (max-width: 600px) {
  		#header{
			height: auto;
	}
		#nav-bar{
			float: none;
			display: inline-flex;
	}
		#nav-bar li{
			padding: 6px 15px;
	}
		#nav-bar #nav-link{
			font-size: 15px;
	}
	/*Content*/
	}
	.video-container{
		width: 80%;
		height: 500px;
		border-color: #FFFFFF;
		margin: 50px auto;
	}
	#video{
		width: 100%;
		height: 500px;
	}
